* text eol=lf

dist/**/*.js binary
dist/**/*.map binary
dist/**/*.eot binary
dist/**/*.svg binary
dist/**/*.ttf binary
dist/**/*.woff binary
dist/**/*.woff2 binary
dist/**/*.png binary
dist/*.html text

src/main/html/images/*.png binary

# Exporting
/lang export-ignore
/lib export-ignore
/spec export-ignore
src export-ignore
test export-ignore
.dockerignore export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.jshintignore export-ignore
.jshintrc export-ignore
.npmignore export-ignore
.travis.yml export-ignore
bower.json export-ignore
CONTRIBUTING.md export-ignore
Dockerfile export-ignore
gulpfile.js export-ignore
index.js export-ignore
package.json export-ignore
