{
  "swagger" : "2.0",
  "info" : {
    "description" : "RESTful API for the Denner Portal",
    "version" : "0.2.0",
    "title" : "Denner Portal 2.0",
    "contact" : {
      "name" : "DETAIL NET",
      "email" : "support+denner-api@detailnet.ch"
    }
  },
  "host" : "denner-portal.detailnet.ch",
  "basePath" : "/api",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/article-groups" : {
      "get" : {
        "tags" : [ "Articles and Promotions – Artikel und Aktionen" ],
        "summary" : "List all article groups",
        "description" : "Use this operation to get a list of all article groups (Warengruppen).\n",
        "operationId" : "listArticleGroups",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/ArticleGroupsResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 2,
                "total_items" : 2,
                "article_groups" : [ {
                  "id" : "42680ccc-a000-4848-9495-af6b02ea231c",
                  "code" : "01",
                  "name" : "Molkereiprodukte & Eier",
                  "children" : [ {
                    "id" : "bd377284-0758-46a6-b1af-b3219f7d9fcf",
                    "code" : "01-10",
                    "name" : "Butter",
                    "children" : [ ]
                  }, {
                    "id" : "71ee4a8b-92b5-4f5a-820d-353a9fce9b04",
                    "code" : "01-15",
                    "name" : "Milch",
                    "children" : [ ]
                  } ]
                }, {
                  "id" : "380d422a-5b8f-42c5-872c-c4ddf4bb5611",
                  "code" : "60",
                  "name" : "Weine",
                  "children" : [ {
                    "id" : "b3c6797a-777a-4103-aba8-d82089ba2980",
                    "code" : "60-56",
                    "name" : "Italien Rot 70 cl",
                    "children" : [ ]
                  } ]
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-filters" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "List all online filters",
        "description" : "Use this operation to get a list of all online filters (Angebotsfilter; e.g. \"Aktionen aktuelle Woche\" or \"Aktionen der Folgewoche\").\n",
        "operationId" : "listOnlineFilters",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/OnlineFiltersResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 2,
                "total_items" : 2,
                "online_filters" : [ {
                  "id" : "3734ef1f-4c1a-428c-af24-7d85af7c5041",
                  "name" : "Aktionen der Folgewoche",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Aktionen der Folgewoche"
                  }, {
                    "locale" : "fr",
                    "value" : "Hits de la semaine suivante"
                  }, {
                    "locale" : "it",
                    "value" : "Promozioni della settimana seguente"
                  } ],
                  "sort_index" : 0
                }, {
                  "id" : "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c",
                  "name" : "Aktionen aktuelle Woche",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Aktionen aktuelle Woche"
                  }, {
                    "locale" : "fr",
                    "value" : "Hits de la semaine en cours"
                  }, {
                    "locale" : "it",
                    "value" : "Promozioni della settimana corrente"
                  } ],
                  "sort_index" : 1
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-groups" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "List all online groups",
        "description" : "Use this operation to get a list of all online groups (Internet-Sortimente).\n",
        "operationId" : "listOnlineGroups",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/OnlineGroupsResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 1,
                "total_items" : 1,
                "online_groups" : [ {
                  "id" : "7627150d-36bd-4867-89b2-091800a03d24",
                  "code" : 1001,
                  "sort_index" : 0,
                  "disabled" : false,
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Frischprodukte"
                  }, {
                    "locale" : "fr",
                    "value" : "Produits frais"
                  }, {
                    "locale" : "it",
                    "value" : "Prodotti freschi"
                  } ],
                  "children" : [ {
                    "id" : "58afec5c-ece9-4b66-bc55-00d6dc1b65b8",
                    "code" : 1001,
                    "sort_index" : 0,
                    "disabled" : false,
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Milchprodukte"
                    }, {
                      "locale" : "fr",
                      "value" : "Produits laitiers"
                    }, {
                      "locale" : "it",
                      "value" : "Latticini"
                    } ],
                    "children" : [ ]
                  }, {
                    "id" : "e5216167-9da5-41d6-b7b3-96362b60de89",
                    "code" : 1002,
                    "sort_index" : 1,
                    "disabled" : true,
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Eier"
                    }, {
                      "locale" : "fr",
                      "value" : "Oeufs"
                    }, {
                      "locale" : "it",
                      "value" : "Uova"
                    } ],
                    "children" : [ ]
                  } ]
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-publications" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "List all online publications",
        "description" : "Use this operation to get a list of all publications targeted at online channels, e.g. denner.ch or the Mobile App (Online-Werbemittel).\n",
        "operationId" : "listOnlinePublications",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/OnlinePublicationsResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 1,
                "total_items" : 1,
                "online_publications" : [ {
                  "id" : "2c8616be-07c8-4fba-83a2-ee780449ff32",
                  "name" : "Wochenaktionen KW 26/2015",
                  "year" : 2015,
                  "week" : 26,
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Wochenaktionen"
                  }, {
                    "locale" : "fr",
                    "value" : "Hits de la semaine"
                  }, {
                    "locale" : "it",
                    "value" : "Promozioni della settimana"
                  } ],
                  "list_title" : [ {
                    "locale" : "de",
                    "value" : "Weitere Wochenaktionen"
                  }, {
                    "locale" : "fr",
                    "value" : "Autre hits de la semaine"
                  }, {
                    "locale" : "it",
                    "value" : "Altre promozioni della settimana"
                  } ],
                  "validity" : {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29",
                    "text" : [ {
                      "locale" : "de",
                      "value" : "23.06.2015 bis 29.06.2015, solange Vorrat"
                    }, {
                      "locale" : "fr",
                      "value" : "tbd"
                    }, {
                      "locale" : "it",
                      "value" : "tbd"
                    } ]
                  },
                  "filters" : [ {
                    "id" : "3734ef1f-4c1a-428c-af24-7d85af7c5041",
                    "name" : "Aktionen der Folgewoche",
                    "appearances" : [ {
                      "from" : "2015-06-19",
                      "to" : "2015-06-22"
                    } ]
                  }, {
                    "id" : "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c",
                    "name" : "Aktionen aktuelle Woche",
                    "appearances" : [ {
                      "from" : "2015-06-23",
                      "to" : "2015-06-29"
                    } ]
                  } ],
                  "global_appearance" : {
                    "from" : "2015-06-19",
                    "to" : "2015-06-29"
                  },
                  "featured_appearance" : {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29"
                  },
                  "promotion_type" : {
                    "id" : "16fe4454-8a99-49bc-9099-d3b48805c67e",
                    "code" : "FLUGBLATT",
                    "name" : "Wochenaktionen"
                  },
                  "sort_index" : 0,
                  "articles" : [ {
                    "id" : "48fcba99-b506-4395-ac1a-373e2af478b1",
                    "number" : "050273",
                    "name" : "Mandorla Primitivo IGT Puglia",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "fr",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "it",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "2013, Apulien, Italien, 6 x 75 cl"
                    }, {
                      "locale" : "fr",
                      "value" : "2013, les Pouilles, Italie, 6 x 75 cl"
                    }, {
                      "locale" : "it",
                      "value" : "2013, Puglia, Italia, 6 x 75 cl"
                    } ],
                    "prices" : {
                      "sales" : 59.4,
                      "instead" : 68.4,
                      "base" : 1.32,
                      "by_quantity" : [ {
                        "quantity" : 1,
                        "sales" : 9.9,
                        "instead" : 11.4
                      }, {
                        "quantity" : 6,
                        "sales" : 59.4,
                        "instead" : 68.4
                      } ]
                    },
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "saving" : [ {
                      "locale" : "de",
                      "value" : "9.- sparen"
                    }, {
                      "locale" : "fr",
                      "value" : "9.- éparmié"
                    }, {
                      "locale" : "it",
                      "value" : "9.- risparmiati"
                    } ],
                    "quantity" : 6,
                    "content" : {
                      "size" : 75,
                      "unit" : "cl"
                    },
                    "base" : {
                      "size" : 10,
                      "unit" : "cl",
                      "text" : [ {
                        "locale" : "de",
                        "value" : "10 cl"
                      }, {
                        "locale" : "fr",
                        "value" : "10 cl"
                      }, {
                        "locale" : "it",
                        "value" : "10 cl"
                      } ]
                    },
                    "validity" : {
                      "from" : "2015-06-23",
                      "to" : "2015-06-29",
                      "text" : [ {
                        "locale" : "de",
                        "value" : "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ]
                    },
                    "global_appearance" : {
                      "from" : "2015-06-19",
                      "to" : "2015-06-29"
                    },
                    "featured_appearance" : {
                      "from" : "2015-06-23",
                      "to" : "2015-06-29"
                    },
                    "promoted" : true,
                    "compared" : true,
                    "online_group" : {
                      "id" : "671988cc-ca5f-484e-8db8-23a65ea0044a",
                      "code" : 4003,
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Wein"
                      }, {
                        "locale" : "fr",
                        "value" : "Vins"
                      }, {
                        "locale" : "it",
                        "value" : "Vini"
                      } ],
                      "parent" : {
                        "id" : "5b79391b-b436-45f9-b3e4-93ec3ae1fae2",
                        "code" : 4001,
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Tafelgetränke und Mineralwasser"
                        }, {
                          "locale" : "fr",
                          "value" : "Boissons table et eau minérale"
                        }, {
                          "locale" : "it",
                          "value" : "Bevande da tavola e acque minerali"
                        } ]
                      }
                    },
                    "article_group" : {
                      "id" : "b3c6797a-777a-4103-aba8-d82089ba2980",
                      "code" : "60-56",
                      "name" : "Italien Rot 70 cl",
                      "parent" : {
                        "id" : "380d422a-5b8f-42c5-872c-c4ddf4bb5611",
                        "code" : "60",
                        "name" : "Weine"
                      }
                    },
                    "wine" : {
                      "country" : {
                        "id" : "IT",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Italien"
                        }, {
                          "locale" : "fr",
                          "value" : "Italie"
                        }, {
                          "locale" : "it",
                          "value" : "Italia"
                        } ]
                      },
                      "region" : {
                        "id" : "b19c42bf-ed78-46ff-ad6f-fc688a059e6a",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Apulien"
                        }, {
                          "locale" : "fr",
                          "value" : "Les Pouilles"
                        }, {
                          "locale" : "it",
                          "value" : "Puglia"
                        } ]
                      },
                      "type" : {
                        "id" : "5395aec7-e36d-4b7f-99f6-a8a7f60fa412",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Rotwein"
                        }, {
                          "locale" : "fr",
                          "value" : "Vin rouge"
                        }, {
                          "locale" : "it",
                          "value" : "Vino rosso"
                        } ]
                      },
                      "year" : 2013,
                      "fits_with" : [ {
                        "locale" : "de",
                        "value" : "Pasta, Fleisch mit würzigen Saucen"
                      }, {
                        "locale" : "fr",
                        "value" : "Pâtes, viande aux sauces relevées"
                      }, {
                        "locale" : "it",
                        "value" : "Pasta, carni accompagnate da salse aromatiche"
                      } ],
                      "varietal" : [ {
                        "locale" : "de",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "fr",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "it",
                        "value" : "Primitivo"
                      } ],
                      "character" : [ {
                        "locale" : "de",
                        "value" : "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                      }, {
                        "locale" : "fr",
                        "value" : "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                      }, {
                        "locale" : "it",
                        "value" : "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                      } ],
                      "temperature" : [ {
                        "locale" : "de",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "fr",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "it",
                        "value" : "16-18 °C"
                      } ],
                      "awards" : [ {
                        "locale" : "de",
                        "value" : ""
                      }, {
                        "locale" : "fr",
                        "value" : ""
                      }, {
                        "locale" : "it",
                        "value" : ""
                      } ],
                      "storage" : [ {
                        "locale" : "de",
                        "value" : "3 Jahre"
                      }, {
                        "locale" : "fr",
                        "value" : "3 ans"
                      }, {
                        "locale" : "it",
                        "value" : "3 anni"
                      } ],
                      "rating" : {
                        "value" : 4.45,
                        "total" : 11,
                        "valid" : true
                      },
                      "stock" : {
                        "value" : -15,
                        "code" : 2,
                        "message" : [ {
                          "locale" : "de",
                          "value" : "Derzeit nicht bestellbar"
                        }, {
                          "locale" : "fr",
                          "value" : "Actuellement pas disponible"
                        }, {
                          "locale" : "it",
                          "value" : "Attualmente non disponibile"
                        } ]
                      },
                      "shop_url" : null
                    }
                  } ]
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-publications/{publication_id}" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "Get single online publication (includes all advertised articles)",
        "description" : "Use this operation to get a single publication targeted at online channels, e.g. denner.ch or the Mobile App (Online-Werbemittel). The response will include the articles assigned to this publication.\n",
        "operationId" : "getOnlinePublication",
        "parameters" : [ {
          "name" : "publication_id",
          "in" : "path",
          "description" : "The unique identifier of an online publication",
          "required" : true,
          "type" : "string",
          "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful object",
            "schema" : {
              "$ref" : "#/definitions/OnlinePublicationWithArticles"
            },
            "examples" : {
              "application/json" : {
                "id" : "2c8616be-07c8-4fba-83a2-ee780449ff32",
                "name" : "Wochenaktionen KW 26/2015",
                "year" : 2015,
                "week" : 26,
                "title" : [ {
                  "locale" : "de",
                  "value" : "Wochenaktionen"
                }, {
                  "locale" : "fr",
                  "value" : "Hits de la semaine"
                }, {
                  "locale" : "it",
                  "value" : "Promozioni della settimana"
                } ],
                "list_title" : [ {
                  "locale" : "de",
                  "value" : "Weitere Wochenaktionen"
                }, {
                  "locale" : "fr",
                  "value" : "Autre hits de la semaine"
                }, {
                  "locale" : "it",
                  "value" : "Altre promozioni della settimana"
                } ],
                "validity" : {
                  "from" : "2015-06-23",
                  "to" : "2015-06-29",
                  "text" : [ {
                    "locale" : "de",
                    "value" : "23.06.2015 bis 29.06.2015, solange Vorrat"
                  }, {
                    "locale" : "fr",
                    "value" : "tbd"
                  }, {
                    "locale" : "it",
                    "value" : "tbd"
                  } ]
                },
                "filters" : [ {
                  "id" : "3734ef1f-4c1a-428c-af24-7d85af7c5041",
                  "name" : "Aktionen der Folgewoche",
                  "appearances" : [ {
                    "from" : "2015-06-19",
                    "to" : "2015-06-22"
                  } ]
                }, {
                  "id" : "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c",
                  "name" : "Aktionen aktuelle Woche",
                  "appearances" : [ {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29"
                  } ]
                } ],
                "global_appearance" : {
                  "from" : "2015-06-19",
                  "to" : "2015-06-29"
                },
                "featured_appearance" : {
                  "from" : "2015-06-23",
                  "to" : "2015-06-29"
                },
                "promotion_type" : {
                  "id" : "16fe4454-8a99-49bc-9099-d3b48805c67e",
                  "code" : "FLUGBLATT",
                  "name" : "Wochenaktionen"
                },
                "sort_index" : 0,
                "articles" : [ {
                  "id" : "48fcba99-b506-4395-ac1a-373e2af478b1",
                  "number" : "050273",
                  "name" : "Mandorla Primitivo IGT Puglia",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  }, {
                    "locale" : "fr",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  }, {
                    "locale" : "it",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  } ],
                  "description" : [ {
                    "locale" : "de",
                    "value" : "2013, Apulien, Italien, 6 x 75 cl"
                  }, {
                    "locale" : "fr",
                    "value" : "2013, les Pouilles, Italie, 6 x 75 cl"
                  }, {
                    "locale" : "it",
                    "value" : "2013, Puglia, Italia, 6 x 75 cl"
                  } ],
                  "prices" : {
                    "sales" : 59.4,
                    "instead" : 68.4,
                    "base" : 1.32,
                    "by_quantity" : [ {
                      "quantity" : 1,
                      "sales" : 9.9,
                      "instead" : 11.4
                    }, {
                      "quantity" : 6,
                      "sales" : 59.4,
                      "instead" : 68.4
                    } ]
                  },
                  "price_info" : [ {
                    "locale" : "de",
                    "value" : "Konkurrenzvergleich"
                  }, {
                    "locale" : "fr",
                    "value" : "Comparaison concurrentielle"
                  }, {
                    "locale" : "it",
                    "value" : "Confronto con la concorrenza"
                  } ],
                  "saving" : [ {
                    "locale" : "de",
                    "value" : "9.- sparen"
                  }, {
                    "locale" : "fr",
                    "value" : "9.- éparmié"
                  }, {
                    "locale" : "it",
                    "value" : "9.- risparmiati"
                  } ],
                  "quantity" : 6,
                  "content" : {
                    "size" : 75,
                    "unit" : "cl"
                  },
                  "base" : {
                    "size" : 10,
                    "unit" : "cl",
                    "text" : [ {
                      "locale" : "de",
                      "value" : "10 cl"
                    }, {
                      "locale" : "fr",
                      "value" : "10 cl"
                    }, {
                      "locale" : "it",
                      "value" : "10 cl"
                    } ]
                  },
                  "validity" : {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29",
                    "text" : [ {
                      "locale" : "de",
                      "value" : "Angebot gültig von 23.06.2015 bis 29.06.2015"
                    }, {
                      "locale" : "fr",
                      "value" : "..."
                    }, {
                      "locale" : "it",
                      "value" : "..."
                    } ]
                  },
                  "global_appearance" : {
                    "from" : "2015-06-19",
                    "to" : "2015-06-29"
                  },
                  "featured_appearance" : {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29"
                  },
                  "promoted" : true,
                  "compared" : true,
                  "online_group" : {
                    "id" : "671988cc-ca5f-484e-8db8-23a65ea0044a",
                    "code" : 4003,
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Wein"
                    }, {
                      "locale" : "fr",
                      "value" : "Vins"
                    }, {
                      "locale" : "it",
                      "value" : "Vini"
                    } ],
                    "parent" : {
                      "id" : "5b79391b-b436-45f9-b3e4-93ec3ae1fae2",
                      "code" : 4001,
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Tafelgetränke und Mineralwasser"
                      }, {
                        "locale" : "fr",
                        "value" : "Boissons table et eau minérale"
                      }, {
                        "locale" : "it",
                        "value" : "Bevande da tavola e acque minerali"
                      } ]
                    }
                  },
                  "article_group" : {
                    "id" : "b3c6797a-777a-4103-aba8-d82089ba2980",
                    "code" : "60-56",
                    "name" : "Italien Rot 70 cl",
                    "parent" : {
                      "id" : "380d422a-5b8f-42c5-872c-c4ddf4bb5611",
                      "code" : "60",
                      "name" : "Weine"
                    }
                  },
                  "wine" : {
                    "country" : {
                      "id" : "IT",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Italien"
                      }, {
                        "locale" : "fr",
                        "value" : "Italie"
                      }, {
                        "locale" : "it",
                        "value" : "Italia"
                      } ]
                    },
                    "region" : {
                      "id" : "b19c42bf-ed78-46ff-ad6f-fc688a059e6a",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Apulien"
                      }, {
                        "locale" : "fr",
                        "value" : "Les Pouilles"
                      }, {
                        "locale" : "it",
                        "value" : "Puglia"
                      } ]
                    },
                    "type" : {
                      "id" : "5395aec7-e36d-4b7f-99f6-a8a7f60fa412",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Rotwein"
                      }, {
                        "locale" : "fr",
                        "value" : "Vin rouge"
                      }, {
                        "locale" : "it",
                        "value" : "Vino rosso"
                      } ]
                    },
                    "year" : 2013,
                    "fits_with" : [ {
                      "locale" : "de",
                      "value" : "Pasta, Fleisch mit würzigen Saucen"
                    }, {
                      "locale" : "fr",
                      "value" : "Pâtes, viande aux sauces relevées"
                    }, {
                      "locale" : "it",
                      "value" : "Pasta, carni accompagnate da salse aromatiche"
                    } ],
                    "varietal" : [ {
                      "locale" : "de",
                      "value" : "Primitivo"
                    }, {
                      "locale" : "fr",
                      "value" : "Primitivo"
                    }, {
                      "locale" : "it",
                      "value" : "Primitivo"
                    } ],
                    "character" : [ {
                      "locale" : "de",
                      "value" : "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                    }, {
                      "locale" : "fr",
                      "value" : "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                    }, {
                      "locale" : "it",
                      "value" : "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                    } ],
                    "temperature" : [ {
                      "locale" : "de",
                      "value" : "16-18 °C"
                    }, {
                      "locale" : "fr",
                      "value" : "16-18 °C"
                    }, {
                      "locale" : "it",
                      "value" : "16-18 °C"
                    } ],
                    "awards" : [ {
                      "locale" : "de",
                      "value" : ""
                    }, {
                      "locale" : "fr",
                      "value" : ""
                    }, {
                      "locale" : "it",
                      "value" : ""
                    } ],
                    "storage" : [ {
                      "locale" : "de",
                      "value" : "3 Jahre"
                    }, {
                      "locale" : "fr",
                      "value" : "3 ans"
                    }, {
                      "locale" : "it",
                      "value" : "3 anni"
                    } ],
                    "rating" : {
                      "value" : 4.45,
                      "total" : 11,
                      "valid" : true
                    },
                    "stock" : {
                      "value" : -15,
                      "code" : 2,
                      "message" : [ {
                        "locale" : "de",
                        "value" : "Derzeit nicht bestellbar"
                      }, {
                        "locale" : "fr",
                        "value" : "Actuellement pas disponible"
                      }, {
                        "locale" : "it",
                        "value" : "Attualmente non disponibile"
                      } ]
                    },
                    "shop_url" : null
                  }
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/screen-publications" : {
      "get" : {
        "tags" : [ "Screen Advertising – Screen-Bewerbung" ],
        "summary" : "List all screen publications",
        "description" : "Use this operation to get a list of all publications targeted at advertising screens (Screen-Werbemittel).\n",
        "operationId" : "listScreenPublications",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/ScreenPublicationsResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 1,
                "total_items" : 1,
                "screen_publications" : [ {
                  "id" : "f410c33f-844f-43ca-ab2c-4dccf6905f7e",
                  "name" : "Wochenaktionen KW 26/2015 für Werbescreens",
                  "year" : 2015,
                  "week" : 26,
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Wochenaktionen"
                  }, {
                    "locale" : "fr",
                    "value" : "Hits de la semaine"
                  }, {
                    "locale" : "it",
                    "value" : "Promozioni della settimana"
                  } ],
                  "validity" : {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29",
                    "text" : [ {
                      "locale" : "de",
                      "value" : "23.06.2015 bis 29.06.2015, solange Vorrat"
                    }, {
                      "locale" : "fr",
                      "value" : "tbd"
                    }, {
                      "locale" : "it",
                      "value" : "tbd"
                    } ]
                  },
                  "articles" : [ {
                    "id" : "48fcba99-b506-4395-ac1a-373e2af478b1",
                    "number" : "050273",
                    "name" : "Mandorla Primitivo IGT Puglia",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "fr",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "it",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "2013, Apulien, Italien, 6 x 75 cl"
                    }, {
                      "locale" : "fr",
                      "value" : "2013, les Pouilles, Italie, 6 x 75 cl"
                    }, {
                      "locale" : "it",
                      "value" : "2013, Puglia, Italia, 6 x 75 cl"
                    } ],
                    "prices" : {
                      "sales" : 59.4,
                      "instead" : 68.4,
                      "base" : 1.32,
                      "by_quantity" : [ {
                        "quantity" : 1,
                        "sales" : 9.9,
                        "instead" : 11.4
                      }, {
                        "quantity" : 6,
                        "sales" : 59.4,
                        "instead" : 68.4
                      } ]
                    },
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "saving" : [ {
                      "locale" : "de",
                      "value" : "9.- sparen"
                    }, {
                      "locale" : "fr",
                      "value" : "9.- éparmié"
                    }, {
                      "locale" : "it",
                      "value" : "9.- risparmiati"
                    } ],
                    "quantity" : 6,
                    "content" : {
                      "size" : 75,
                      "unit" : "cl"
                    },
                    "base" : {
                      "size" : 10,
                      "unit" : "cl",
                      "text" : [ {
                        "locale" : "de",
                        "value" : "10 cl"
                      }, {
                        "locale" : "fr",
                        "value" : "10 cl"
                      }, {
                        "locale" : "it",
                        "value" : "10 cl"
                      } ]
                    },
                    "validity" : {
                      "from" : "2015-06-23",
                      "to" : "2015-06-29",
                      "text" : [ {
                        "locale" : "de",
                        "value" : "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ]
                    },
                    "compared" : true,
                    "online_group" : {
                      "id" : "671988cc-ca5f-484e-8db8-23a65ea0044a",
                      "code" : 4003,
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Wein"
                      }, {
                        "locale" : "fr",
                        "value" : "Vins"
                      }, {
                        "locale" : "it",
                        "value" : "Vini"
                      } ],
                      "parent" : {
                        "id" : "5b79391b-b436-45f9-b3e4-93ec3ae1fae2",
                        "code" : 4001,
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Tafelgetränke und Mineralwasser"
                        }, {
                          "locale" : "fr",
                          "value" : "Boissons table et eau minérale"
                        }, {
                          "locale" : "it",
                          "value" : "Bevande da tavola e acque minerali"
                        } ]
                      }
                    },
                    "article_group" : {
                      "id" : "b3c6797a-777a-4103-aba8-d82089ba2980",
                      "code" : "60-56",
                      "name" : "Italien Rot 70 cl",
                      "parent" : {
                        "id" : "380d422a-5b8f-42c5-872c-c4ddf4bb5611",
                        "code" : "60",
                        "name" : "Weine"
                      }
                    },
                    "wine" : {
                      "country" : {
                        "id" : "IT",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Italien"
                        }, {
                          "locale" : "fr",
                          "value" : "Italie"
                        }, {
                          "locale" : "it",
                          "value" : "Italia"
                        } ]
                      },
                      "region" : {
                        "id" : "b19c42bf-ed78-46ff-ad6f-fc688a059e6a",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Apulien"
                        }, {
                          "locale" : "fr",
                          "value" : "Les Pouilles"
                        }, {
                          "locale" : "it",
                          "value" : "Puglia"
                        } ]
                      },
                      "type" : {
                        "id" : "5395aec7-e36d-4b7f-99f6-a8a7f60fa412",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Rotwein"
                        }, {
                          "locale" : "fr",
                          "value" : "Vin rouge"
                        }, {
                          "locale" : "it",
                          "value" : "Vino rosso"
                        } ]
                      },
                      "year" : 2013,
                      "fits_with" : [ {
                        "locale" : "de",
                        "value" : "Pasta, Fleisch mit würzigen Saucen"
                      }, {
                        "locale" : "fr",
                        "value" : "Pâtes, viande aux sauces relevées"
                      }, {
                        "locale" : "it",
                        "value" : "Pasta, carni accompagnate da salse aromatiche"
                      } ],
                      "varietal" : [ {
                        "locale" : "de",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "fr",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "it",
                        "value" : "Primitivo"
                      } ],
                      "character" : [ {
                        "locale" : "de",
                        "value" : "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                      }, {
                        "locale" : "fr",
                        "value" : "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                      }, {
                        "locale" : "it",
                        "value" : "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                      } ],
                      "temperature" : [ {
                        "locale" : "de",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "fr",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "it",
                        "value" : "16-18 °C"
                      } ],
                      "awards" : [ {
                        "locale" : "de",
                        "value" : ""
                      }, {
                        "locale" : "fr",
                        "value" : ""
                      }, {
                        "locale" : "it",
                        "value" : ""
                      } ],
                      "storage" : [ {
                        "locale" : "de",
                        "value" : "3 Jahre"
                      }, {
                        "locale" : "fr",
                        "value" : "3 ans"
                      }, {
                        "locale" : "it",
                        "value" : "3 anni"
                      } ],
                      "rating" : {
                        "value" : 4.45,
                        "total" : 11,
                        "valid" : true
                      },
                      "stock" : {
                        "value" : -15,
                        "code" : 2,
                        "message" : [ {
                          "locale" : "de",
                          "value" : "Derzeit nicht bestellbar"
                        }, {
                          "locale" : "fr",
                          "value" : "Actuellement pas disponible"
                        }, {
                          "locale" : "it",
                          "value" : "Attualmente non disponibile"
                        } ]
                      },
                      "shop_url" : null
                    }
                  } ]
                } ]
              }
            }
          }
        }
      }
    },
    "/screen-publications/{publication_id}" : {
      "get" : {
        "tags" : [ "Screen Advertising – Screen-Bewerbung" ],
        "summary" : "Get single screen publication (includes all advertised articles)",
        "description" : "Use this operation to get a single publication targeted at advertising screens (Screen-Werbemittel). The response will include the articles assigned to this publication.\n",
        "operationId" : "getScreenPublication",
        "parameters" : [ {
          "name" : "publication_id",
          "in" : "path",
          "description" : "The unique identifier of an online publication",
          "required" : true,
          "type" : "string",
          "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful object",
            "schema" : {
              "$ref" : "#/definitions/ScreenPublicationWithArticles"
            },
            "examples" : {
              "application/json" : {
                "id" : "f410c33f-844f-43ca-ab2c-4dccf6905f7e",
                "name" : "Wochenaktionen KW 26/2015 für Werbescreens",
                "year" : 2015,
                "week" : 26,
                "title" : [ {
                  "locale" : "de",
                  "value" : "Wochenaktionen"
                }, {
                  "locale" : "fr",
                  "value" : "Hits de la semaine"
                }, {
                  "locale" : "it",
                  "value" : "Promozioni della settimana"
                } ],
                "validity" : {
                  "from" : "2015-06-23",
                  "to" : "2015-06-29",
                  "text" : [ {
                    "locale" : "de",
                    "value" : "23.06.2015 bis 29.06.2015, solange Vorrat"
                  }, {
                    "locale" : "fr",
                    "value" : "tbd"
                  }, {
                    "locale" : "it",
                    "value" : "tbd"
                  } ]
                },
                "articles" : [ {
                  "id" : "48fcba99-b506-4395-ac1a-373e2af478b1",
                  "number" : "050273",
                  "name" : "Mandorla Primitivo IGT Puglia",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  }, {
                    "locale" : "fr",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  }, {
                    "locale" : "it",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  } ],
                  "description" : [ {
                    "locale" : "de",
                    "value" : "2013, Apulien, Italien, 6 x 75 cl"
                  }, {
                    "locale" : "fr",
                    "value" : "2013, les Pouilles, Italie, 6 x 75 cl"
                  }, {
                    "locale" : "it",
                    "value" : "2013, Puglia, Italia, 6 x 75 cl"
                  } ],
                  "prices" : {
                    "sales" : 59.4,
                    "instead" : 68.4,
                    "base" : 1.32,
                    "by_quantity" : [ {
                      "quantity" : 1,
                      "sales" : 9.9,
                      "instead" : 11.4
                    }, {
                      "quantity" : 6,
                      "sales" : 59.4,
                      "instead" : 68.4
                    } ]
                  },
                  "price_info" : [ {
                    "locale" : "de",
                    "value" : "Konkurrenzvergleich"
                  }, {
                    "locale" : "fr",
                    "value" : "Comparaison concurrentielle"
                  }, {
                    "locale" : "it",
                    "value" : "Confronto con la concorrenza"
                  } ],
                  "saving" : [ {
                    "locale" : "de",
                    "value" : "9.- sparen"
                  }, {
                    "locale" : "fr",
                    "value" : "9.- éparmié"
                  }, {
                    "locale" : "it",
                    "value" : "9.- risparmiati"
                  } ],
                  "quantity" : 6,
                  "content" : {
                    "size" : 75,
                    "unit" : "cl"
                  },
                  "base" : {
                    "size" : 10,
                    "unit" : "cl",
                    "text" : [ {
                      "locale" : "de",
                      "value" : "10 cl"
                    }, {
                      "locale" : "fr",
                      "value" : "10 cl"
                    }, {
                      "locale" : "it",
                      "value" : "10 cl"
                    } ]
                  },
                  "validity" : {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29",
                    "text" : [ {
                      "locale" : "de",
                      "value" : "Angebot gültig von 23.06.2015 bis 29.06.2015"
                    }, {
                      "locale" : "fr",
                      "value" : "..."
                    }, {
                      "locale" : "it",
                      "value" : "..."
                    } ]
                  },
                  "compared" : true,
                  "online_group" : {
                    "id" : "671988cc-ca5f-484e-8db8-23a65ea0044a",
                    "code" : 4003,
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Wein"
                    }, {
                      "locale" : "fr",
                      "value" : "Vins"
                    }, {
                      "locale" : "it",
                      "value" : "Vini"
                    } ],
                    "parent" : {
                      "id" : "5b79391b-b436-45f9-b3e4-93ec3ae1fae2",
                      "code" : 4001,
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Tafelgetränke und Mineralwasser"
                      }, {
                        "locale" : "fr",
                        "value" : "Boissons table et eau minérale"
                      }, {
                        "locale" : "it",
                        "value" : "Bevande da tavola e acque minerali"
                      } ]
                    }
                  },
                  "article_group" : {
                    "id" : "b3c6797a-777a-4103-aba8-d82089ba2980",
                    "code" : "60-56",
                    "name" : "Italien Rot 70 cl",
                    "parent" : {
                      "id" : "380d422a-5b8f-42c5-872c-c4ddf4bb5611",
                      "code" : "60",
                      "name" : "Weine"
                    }
                  },
                  "wine" : {
                    "country" : {
                      "id" : "IT",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Italien"
                      }, {
                        "locale" : "fr",
                        "value" : "Italie"
                      }, {
                        "locale" : "it",
                        "value" : "Italia"
                      } ]
                    },
                    "region" : {
                      "id" : "b19c42bf-ed78-46ff-ad6f-fc688a059e6a",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Apulien"
                      }, {
                        "locale" : "fr",
                        "value" : "Les Pouilles"
                      }, {
                        "locale" : "it",
                        "value" : "Puglia"
                      } ]
                    },
                    "type" : {
                      "id" : "5395aec7-e36d-4b7f-99f6-a8a7f60fa412",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Rotwein"
                      }, {
                        "locale" : "fr",
                        "value" : "Vin rouge"
                      }, {
                        "locale" : "it",
                        "value" : "Vino rosso"
                      } ]
                    },
                    "year" : 2013,
                    "fits_with" : [ {
                      "locale" : "de",
                      "value" : "Pasta, Fleisch mit würzigen Saucen"
                    }, {
                      "locale" : "fr",
                      "value" : "Pâtes, viande aux sauces relevées"
                    }, {
                      "locale" : "it",
                      "value" : "Pasta, carni accompagnate da salse aromatiche"
                    } ],
                    "varietal" : [ {
                      "locale" : "de",
                      "value" : "Primitivo"
                    }, {
                      "locale" : "fr",
                      "value" : "Primitivo"
                    }, {
                      "locale" : "it",
                      "value" : "Primitivo"
                    } ],
                    "character" : [ {
                      "locale" : "de",
                      "value" : "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                    }, {
                      "locale" : "fr",
                      "value" : "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                    }, {
                      "locale" : "it",
                      "value" : "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                    } ],
                    "temperature" : [ {
                      "locale" : "de",
                      "value" : "16-18 °C"
                    }, {
                      "locale" : "fr",
                      "value" : "16-18 °C"
                    }, {
                      "locale" : "it",
                      "value" : "16-18 °C"
                    } ],
                    "awards" : [ {
                      "locale" : "de",
                      "value" : ""
                    }, {
                      "locale" : "fr",
                      "value" : ""
                    }, {
                      "locale" : "it",
                      "value" : ""
                    } ],
                    "storage" : [ {
                      "locale" : "de",
                      "value" : "3 Jahre"
                    }, {
                      "locale" : "fr",
                      "value" : "3 ans"
                    }, {
                      "locale" : "it",
                      "value" : "3 anni"
                    } ],
                    "rating" : {
                      "value" : 4.45,
                      "total" : 11,
                      "valid" : true
                    },
                    "stock" : {
                      "value" : -15,
                      "code" : 2,
                      "message" : [ {
                        "locale" : "de",
                        "value" : "Derzeit nicht bestellbar"
                      }, {
                        "locale" : "fr",
                        "value" : "Actuellement pas disponible"
                      }, {
                        "locale" : "it",
                        "value" : "Attualmente non disponibile"
                      } ]
                    },
                    "shop_url" : null
                  }
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/store-channels" : {
      "get" : {
        "tags" : [ "Stores – Filialdaten" ],
        "summary" : "List all store channels",
        "description" : "Use this operation to get a list of all store channels (Filialkanäle; e.g. \"Denner\" or \"Denner Satellit\").\n",
        "operationId" : "listStoreChannels",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/StoreChannelsResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 2,
                "total_items" : 2,
                "store_channels" : [ {
                  "id" : "5d1c3dd5-35a9-4c66-ab20-3409ea640334",
                  "code" : 1,
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Denner"
                  }, {
                    "locale" : "fr",
                    "value" : "Denner"
                  }, {
                    "locale" : "it",
                    "value" : "Denner"
                  } ]
                }, {
                  "id" : "18549f95-6471-4e21-968f-8a0bf2e0f79b",
                  "code" : 2,
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Denner Satellit und Denner Express"
                  }, {
                    "locale" : "fr",
                    "value" : "Satellite Denner et Denner Express"
                  }, {
                    "locale" : "it",
                    "value" : "Satelliti Denner e Denner Express"
                  } ]
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/store-services" : {
      "get" : {
        "tags" : [ "Stores – Filialdaten" ],
        "summary" : "List all store services",
        "description" : "Use this operation to get a list of all store services (Filialangebote; e.g. \"Humidor\" or \"Backstation\").\n",
        "operationId" : "listStoreServices",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/StoreServicesResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 5,
                "total_items" : 5,
                "store_services" : [ {
                  "id" : "acb911fb-b7e3-480f-ab91-1109e750892a",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Humidor"
                  }, {
                    "locale" : "fr",
                    "value" : "Humidor"
                  }, {
                    "locale" : "it",
                    "value" : "Humidor"
                  } ]
                }, {
                  "id" : "85aa57ad-2bf3-48e5-a1a0-813889cbae26",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Bordeaux Grands Crus"
                  }, {
                    "locale" : "fr",
                    "value" : "Bordeaux Grands Crus"
                  }, {
                    "locale" : "it",
                    "value" : "Bordeaux Grands Crus"
                  } ]
                }, {
                  "id" : "d7b4925e-79f8-415f-9436-0adb4a9cc4de",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Früchte und Gemüse"
                  }, {
                    "locale" : "fr",
                    "value" : "Fruits et Légumes"
                  }, {
                    "locale" : "it",
                    "value" : "Frutta e verdura"
                  } ]
                }, {
                  "id" : "47191064-ad2e-482a-a5cf-2aa32d0b8116",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Früchte und Gemüse im Offenverkauf"
                  }, {
                    "locale" : "fr",
                    "value" : "Fruits et légumes en vrac"
                  }, {
                    "locale" : "it",
                    "value" : "Frutta e verdura in vendita sfusa"
                  } ]
                }, {
                  "id" : "57d0301a-fd5d-4dce-ab0d-75dee1d16631",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Backstation"
                  }, {
                    "locale" : "fr",
                    "value" : "Four à pain"
                  }, {
                    "locale" : "it",
                    "value" : "Punto cottura"
                  } ]
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/stores" : {
      "get" : {
        "tags" : [ "Stores – Filialdaten" ],
        "summary" : "List all stores",
        "description" : "Use this operation to get a list of all stores (Filialen).\n",
        "operationId" : "listStores",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/StoresResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 1,
                "total_items" : 1,
                "stores" : [ {
                  "id" : "bcb8a388-8998-4d08-85a6-4864199704ee",
                  "code" : 302,
                  "address" : "Werdstrasse",
                  "number" : "36",
                  "zip_code" : 8004,
                  "canton_code" : "ZH",
                  "city" : "Zürich",
                  "country" : {
                    "id" : "CH",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Schweiz"
                    }, {
                      "locale" : "fr",
                      "value" : "Suisse"
                    }, {
                      "locale" : "it",
                      "value" : "Svizzera"
                    } ]
                  },
                  "phone" : "044 240 22 83",
                  "hotline" : "0848 99 66 33",
                  "payment_types" : [ "cash", "euro", "maestro", "post" ],
                  "credit_card" : true,
                  "opened_on" : "1998-08-01",
                  "latitude" : 47.3728447,
                  "longitude" : 8.5295153,
                  "language" : "de",
                  "email" : "info@denner.ch",
                  "homepage" : "http://www.denner.ch",
                  "parking_count" : 0,
                  "channel" : {
                    "id" : "5d1c3dd5-35a9-4c66-ab20-3409ea640334",
                    "code" : 1,
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Denner"
                    }, {
                      "locale" : "fr",
                      "value" : "Denner"
                    }, {
                      "locale" : "it",
                      "value" : "Denner"
                    } ]
                  },
                  "opening_times" : [ {
                    "weekday" : 1,
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "weekday" : 2,
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "weekday" : 3,
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "weekday" : 4,
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "weekday" : 5,
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "weekday" : 6,
                    "opens_at" : "08:00:00",
                    "closes_at" : "12:00:00"
                  }, {
                    "weekday" : 6,
                    "opens_at" : "14:00:00",
                    "closes_at" : "20:00:00"
                  } ],
                  "special_opening_times" : [ {
                    "day" : "2015-06-26",
                    "reason" : [ {
                      "locale" : "de",
                      "value" : "Umbau"
                    }, {
                      "locale" : "fr",
                      "value" : "tbd"
                    }, {
                      "locale" : "it",
                      "value" : "tbd"
                    } ],
                    "closed" : true
                  }, {
                    "day" : "2015-06-28",
                    "opens_at" : "10:00:00",
                    "closes_at" : "16:00:00",
                    "reason" : [ {
                      "locale" : "de",
                      "value" : "Sonntagsverkauf"
                    }, {
                      "locale" : "fr",
                      "value" : "tbd"
                    }, {
                      "locale" : "it",
                      "value" : "tbd"
                    } ],
                    "closed" : false
                  } ],
                  "calendar_opening_times" : [ {
                    "day" : "2015-06-22",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-06-23",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-06-24",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-06-25",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-06-27",
                    "opens_at" : "08:00:00",
                    "closes_at" : "12:00:00"
                  }, {
                    "day" : "2015-06-27",
                    "opens_at" : "14:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-06-28",
                    "opens_at" : "10:00:00",
                    "closes_at" : "16:00:00"
                  }, {
                    "day" : "2015-06-29",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-06-30",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-07-01",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-07-02",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-07-03",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-07-04",
                    "opens_at" : "08:00:00",
                    "closes_at" : "12:00:00"
                  }, {
                    "day" : "2015-07-04",
                    "opens_at" : "14:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-07-06",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  }, {
                    "day" : "2015-07-07",
                    "opens_at" : "08:00:00",
                    "closes_at" : "20:00:00"
                  } ],
                  "services" : [ {
                    "id" : "acb911fb-b7e3-480f-ab91-1109e750892a",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Humidor"
                    }, {
                      "locale" : "fr",
                      "value" : "Humidor"
                    }, {
                      "locale" : "it",
                      "value" : "Humidor"
                    } ],
                    "appearances" : [ {
                      "from" : "2015-06-01",
                      "to" : "2015-06-30"
                    }, {
                      "from" : "2016-06-01",
                      "to" : "2016-06-30"
                    } ]
                  }, {
                    "id" : "d7b4925e-79f8-415f-9436-0adb4a9cc4de",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Früchte und Gemüse"
                    }, {
                      "locale" : "fr",
                      "value" : "Fruits et Légumes"
                    }, {
                      "locale" : "it",
                      "value" : "Frutta e verdura"
                    } ],
                    "appearances" : [ {
                      "from" : "2013-01-01"
                    } ]
                  }, {
                    "id" : "57d0301a-fd5d-4dce-ab0d-75dee1d16631",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Backstation"
                    }, {
                      "locale" : "fr",
                      "value" : "Four à pain"
                    }, {
                      "locale" : "it",
                      "value" : "Punto cottura"
                    } ],
                    "appearances" : [ {
                      "from" : "2013-01-01"
                    } ]
                  } ]
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "appKey" : {
      "type" : "apiKey",
      "name" : "App-ID",
      "in" : "header"
    },
    "appId" : {
      "type" : "apiKey",
      "name" : "App-Key",
      "in" : "header"
    }
  },
  "definitions" : {
    "UUIDv4" : {
      "type" : "string",
      "description" : "Unique identifier"
    },
    "Locale" : {
      "type" : "string",
      "description" : "Locale"
    },
    "Translations" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Translation"
      }
    },
    "Translation" : {
      "type" : "object",
      "properties" : {
        "locale" : {
          "$ref" : "#/definitions/Locale"
        },
        "value" : {
          "type" : "string",
          "description" : "Translated text value"
        }
      }
    },
    "Country" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Country code definition from ISO 3166",
          "pattern" : "/^[A-Z]{2}$/"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      },
      "description" : "Country"
    },
    "Date" : {
      "type" : "string",
      "format" : "date",
      "description" : "Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)"
    },
    "Time" : {
      "type" : "string",
      "description" : "Time; Format HH:MM:SS"
    },
    "DayOfWeek" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Day of week; 0 = Sunday"
    },
    "Year" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Year"
    },
    "Week" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Week number (ISO 8601, week date system)"
    },
    "Price" : {
      "type" : "number",
      "format" : "float",
      "description" : "Price in CHF"
    },
    "Quantity" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Quantity"
    },
    "ContentSize" : {
      "type" : "number",
      "format" : "float",
      "description" : "Content size"
    },
    "ContentUnit" : {
      "type" : "string",
      "description" : "Content unit"
    },
    "Appearance" : {
      "type" : "object",
      "properties" : {
        "from" : {
          "type" : "string",
          "format" : "date"
        },
        "to" : {
          "type" : "string",
          "format" : "date"
        }
      }
    },
    "Url" : {
      "type" : "string",
      "description" : "Web url address"
    },
    "Phone" : {
      "type" : "string",
      "description" : "Formatted phone number"
    },
    "SortIndex" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Index for sorting"
    },
    "Store" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision store code"
        },
        "name" : {
          "type" : "string",
          "description" : "Name"
        },
        "address" : {
          "type" : "string",
          "description" : "Street"
        },
        "number" : {
          "type" : "string",
          "description" : "Street number"
        },
        "zip_code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Zip code",
          "minimum" : 1000.0,
          "maximum" : 9699.0
        },
        "city" : {
          "type" : "string",
          "description" : "City"
        },
        "canton_code" : {
          "type" : "string",
          "description" : "Canton (state) code"
        },
        "country" : {
          "$ref" : "#/definitions/Country"
        },
        "phone" : {
          "$ref" : "#/definitions/Phone"
        },
        "hotline" : {
          "$ref" : "#/definitions/Phone"
        },
        "payment_types" : {
          "type" : "array",
          "description" : "Payment types",
          "items" : {
            "$ref" : "#/definitions/PaymentType"
          }
        },
        "credit_card" : {
          "type" : "boolean",
          "description" : "Credit card can be used for payments?"
        },
        "opened_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Opened on"
        },
        "closed_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Closed on"
        },
        "renovation_from" : {
          "type" : "string",
          "format" : "date",
          "description" : "Renovation from"
        },
        "renovation_to" : {
          "type" : "string",
          "format" : "date",
          "description" : "Renovation to"
        },
        "longitude" : {
          "type" : "number",
          "format" : "float",
          "description" : "Geographic longitude"
        },
        "latitude" : {
          "type" : "number",
          "format" : "float",
          "description" : "Geographic latitude"
        },
        "language" : {
          "type" : "string",
          "description" : "Language spoken in the store"
        },
        "email" : {
          "type" : "string",
          "description" : "E-mail address"
        },
        "homepage" : {
          "$ref" : "#/definitions/Url"
        },
        "parking_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Reserved parking places for customers",
          "minimum" : 0.0
        },
        "channel" : {
          "$ref" : "#/definitions/StoreChannel"
        },
        "opening_times" : {
          "type" : "array",
          "description" : "Default opening times",
          "items" : {
            "$ref" : "#/definitions/OpeningTime"
          }
        },
        "special_opening_times" : {
          "type" : "array",
          "description" : "Special opening times",
          "items" : {
            "$ref" : "#/definitions/SpecialOpeningTime"
          }
        },
        "calendar_opening_times" : {
          "type" : "array",
          "description" : "Calendar opening times",
          "items" : {
            "$ref" : "#/definitions/CalendarOpeningTime"
          }
        },
        "services" : {
          "type" : "array",
          "description" : "Services provided by the store",
          "items" : {
            "$ref" : "#/definitions/AssignedStoreService"
          }
        }
      }
    },
    "PaymentType" : {
      "type" : "string",
      "description" : "Payment type"
    },
    "OpeningTime" : {
      "type" : "object",
      "properties" : {
        "weekday" : {
          "$ref" : "#/definitions/DayOfWeek"
        },
        "opens_at" : {
          "$ref" : "#/definitions/Time"
        },
        "closes_at" : {
          "$ref" : "#/definitions/Time"
        }
      }
    },
    "SpecialOpeningTime" : {
      "type" : "object",
      "properties" : {
        "day" : {
          "$ref" : "#/definitions/Date"
        },
        "opens_at" : {
          "$ref" : "#/definitions/Time"
        },
        "closes_at" : {
          "$ref" : "#/definitions/Time"
        },
        "reason" : {
          "$ref" : "#/definitions/Translations"
        },
        "closed" : {
          "type" : "boolean",
          "description" : "Is the store closed on this day?"
        }
      }
    },
    "CalendarOpeningTime" : {
      "type" : "object",
      "properties" : {
        "day" : {
          "$ref" : "#/definitions/Date"
        },
        "opens_at" : {
          "$ref" : "#/definitions/Time"
        },
        "closes_at" : {
          "$ref" : "#/definitions/Time"
        }
      }
    },
    "StoreChannel" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision channel code"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "StoreService" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "AssignedStoreService" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "appearances" : {
          "$ref" : "#/definitions/Appearances"
        }
      }
    },
    "ArticleGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "string",
          "description" : "Navision article group code (e.g. '01', '20', '01-60', '38-998')",
          "pattern" : "/^\\d{2}(-\\d{2,3})?$/"
        },
        "name" : {
          "type" : "string",
          "description" : "Article group name"
        },
        "children" : {
          "$ref" : "#/definitions/ArticleGroups"
        }
      }
    },
    "AssignedArticleGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "string",
          "description" : "Navision article group code (e.g. '01', '20', '01-60', '38-998')",
          "pattern" : "/^\\d{2}(-\\d{2,3})?$/"
        },
        "name" : {
          "type" : "string",
          "description" : "Article group name"
        },
        "parent" : {
          "$ref" : "#/definitions/AssignedArticleGroup"
        }
      }
    },
    "OnlineAdvertisedArticle" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "number" : {
          "type" : "string",
          "description" : "Navision article code",
          "pattern" : "/^\\d{6}$/"
        },
        "name" : {
          "type" : "string",
          "description" : "Article name"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "description" : {
          "$ref" : "#/definitions/Translations"
        },
        "prices" : {
          "$ref" : "#/definitions/ArticlePrices"
        },
        "price_info" : {
          "$ref" : "#/definitions/Translations"
        },
        "saving" : {
          "$ref" : "#/definitions/Translations"
        },
        "quantity" : {
          "$ref" : "#/definitions/Quantity"
        },
        "content" : {
          "$ref" : "#/definitions/Content"
        },
        "base" : {
          "$ref" : "#/definitions/BaseContent"
        },
        "validity" : {
          "$ref" : "#/definitions/Validity"
        },
        "global_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "featured_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "promoted" : {
          "type" : "boolean",
          "description" : "Is a promoted article?"
        },
        "compared" : {
          "type" : "boolean",
          "description" : "Is a compared article?"
        },
        "online_group" : {
          "$ref" : "#/definitions/AddignedOnlineGroup"
        },
        "article_group" : {
          "$ref" : "#/definitions/AssignedArticleGroup"
        },
        "wine" : {
          "$ref" : "#/definitions/ArticleWine"
        }
      }
    },
    "ScreenAdvertisedArticle" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "number" : {
          "type" : "string",
          "description" : "Navision article code",
          "pattern" : "/^\\d{6}$/"
        },
        "name" : {
          "type" : "string",
          "description" : "Article name"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "description" : {
          "$ref" : "#/definitions/Translations"
        },
        "prices" : {
          "$ref" : "#/definitions/ArticlePrices"
        },
        "price_info" : {
          "$ref" : "#/definitions/Translations"
        },
        "saving" : {
          "$ref" : "#/definitions/Translations"
        },
        "quantity" : {
          "$ref" : "#/definitions/Quantity"
        },
        "content" : {
          "$ref" : "#/definitions/Content"
        },
        "base" : {
          "$ref" : "#/definitions/BaseContent"
        },
        "validity" : {
          "$ref" : "#/definitions/Validity"
        },
        "compared" : {
          "type" : "boolean",
          "description" : "Is a compared article?"
        },
        "online_group" : {
          "$ref" : "#/definitions/AddignedOnlineGroup"
        },
        "article_group" : {
          "$ref" : "#/definitions/AssignedArticleGroup"
        },
        "wine" : {
          "$ref" : "#/definitions/ArticleWine"
        }
      }
    },
    "ArticlePrices" : {
      "type" : "object",
      "properties" : {
        "sales" : {
          "$ref" : "#/definitions/Price"
        },
        "instead" : {
          "$ref" : "#/definitions/Price"
        },
        "base" : {
          "$ref" : "#/definitions/Price"
        },
        "by_quantity" : {
          "$ref" : "#/definitions/QuantityPrices"
        }
      }
    },
    "QuantityPrices" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/QuantityPrice"
      }
    },
    "QuantityPrice" : {
      "type" : "object",
      "properties" : {
        "quantity" : {
          "$ref" : "#/definitions/Quantity"
        },
        "sales" : {
          "$ref" : "#/definitions/Price"
        },
        "instead" : {
          "$ref" : "#/definitions/Price"
        }
      }
    },
    "Content" : {
      "type" : "object",
      "properties" : {
        "size" : {
          "$ref" : "#/definitions/ContentSize"
        },
        "unit" : {
          "$ref" : "#/definitions/ContentUnit"
        }
      }
    },
    "BaseContent" : {
      "type" : "object",
      "properties" : {
        "size" : {
          "$ref" : "#/definitions/ContentSize"
        },
        "unit" : {
          "$ref" : "#/definitions/ContentUnit"
        },
        "text" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "Validity" : {
      "type" : "object",
      "properties" : {
        "from" : {
          "$ref" : "#/definitions/Date"
        },
        "to" : {
          "$ref" : "#/definitions/Date"
        },
        "text" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "ArticleWine" : {
      "type" : "object",
      "properties" : {
        "country" : {
          "$ref" : "#/definitions/Country"
        },
        "region" : {
          "$ref" : "#/definitions/Region"
        },
        "type" : {
          "$ref" : "#/definitions/WineType"
        },
        "year" : {
          "$ref" : "#/definitions/Year"
        },
        "fits_with" : {
          "$ref" : "#/definitions/Translations"
        },
        "varietal" : {
          "$ref" : "#/definitions/Translations"
        },
        "character" : {
          "$ref" : "#/definitions/Translations"
        },
        "temperature" : {
          "$ref" : "#/definitions/Translations"
        },
        "awards" : {
          "$ref" : "#/definitions/Translations"
        },
        "storage" : {
          "$ref" : "#/definitions/Translations"
        },
        "rating" : {
          "$ref" : "#/definitions/Rating"
        },
        "stock" : {
          "$ref" : "#/definitions/Stock"
        },
        "shop_url" : {
          "$ref" : "#/definitions/Url"
        }
      }
    },
    "Region" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "WineType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "Rating" : {
      "type" : "object",
      "properties" : {
        "value" : {
          "type" : "number",
          "format" : "float",
          "description" : "Rating value",
          "minimum" : 0.0,
          "maximum" : 5.0
        },
        "total" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Ratng count",
          "minimum" : 0.0
        },
        "valid" : {
          "type" : "boolean",
          "description" : "Is a valid rating?"
        }
      }
    },
    "Stock" : {
      "type" : "object",
      "properties" : {
        "value" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision stock count, might be negative"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision stock code",
          "minimum" : 0.0
        },
        "message" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "OnlinePublication" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "name" : {
          "type" : "string"
        },
        "year" : {
          "$ref" : "#/definitions/Year"
        },
        "week" : {
          "$ref" : "#/definitions/Week"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "list_title" : {
          "$ref" : "#/definitions/Translations"
        },
        "validity" : {
          "$ref" : "#/definitions/Validity"
        },
        "filters" : {
          "type" : "array",
          "description" : "Online filter with appearances (and no localised title)",
          "items" : {
            "$ref" : "#/definitions/AssignedOnlineFilter"
          }
        },
        "global_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "featured_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "promotion_type" : {
          "$ref" : "#/definitions/PromotionType"
        },
        "sort_index" : {
          "$ref" : "#/definitions/SortIndex"
        }
      }
    },
    "OnlinePublicationWithArticles" : {
      "allOf" : [ {
        "$ref" : "#/definitions/OnlinePublication"
      }, {
        "properties" : {
          "articles" : {
            "$ref" : "#/definitions/OnlineAdvertisedArticles"
          }
        }
      } ]
    },
    "PromotionType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "string",
          "description" : "Navision promotion type code"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "OnlineFilter" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "name" : {
          "type" : "string"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "sort_index" : {
          "$ref" : "#/definitions/SortIndex"
        }
      }
    },
    "AssignedOnlineFilter" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "name" : {
          "type" : "string"
        },
        "appearances" : {
          "$ref" : "#/definitions/Appearances"
        }
      }
    },
    "OnlineGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision online group code"
        },
        "sort_index" : {
          "$ref" : "#/definitions/SortIndex"
        },
        "disabled" : {
          "type" : "boolean",
          "description" : "Is disabled?"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "children" : {
          "$ref" : "#/definitions/OnlineGroups"
        }
      }
    },
    "AddignedOnlineGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision online group code"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "parent" : {
          "$ref" : "#/definitions/AddignedOnlineGroup"
        }
      }
    },
    "ScreenPublication" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "name" : {
          "type" : "string"
        },
        "year" : {
          "$ref" : "#/definitions/Year"
        },
        "week" : {
          "$ref" : "#/definitions/Week"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "validity" : {
          "$ref" : "#/definitions/Validity"
        }
      }
    },
    "ScreenPublicationWithArticles" : {
      "allOf" : [ {
        "$ref" : "#/definitions/ScreenPublication"
      }, {
        "properties" : {
          "articles" : {
            "$ref" : "#/definitions/ScreenAdvertisedArticles"
          }
        }
      } ]
    },
    "Appearances" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Appearance"
      }
    },
    "Stores" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Store"
      }
    },
    "StoreChannels" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/StoreChannel"
      }
    },
    "StoreServices" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/StoreService"
      }
    },
    "ArticleGroups" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/ArticleGroup"
      }
    },
    "OnlineAdvertisedArticles" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/OnlineAdvertisedArticle"
      }
    },
    "ScreenAdvertisedArticles" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/ScreenAdvertisedArticle"
      }
    },
    "OnlinePublications" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/OnlinePublication"
      }
    },
    "OnlineFilters" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/OnlineFilter"
      }
    },
    "OnlineGroups" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/OnlineGroup"
      }
    },
    "ScreenPublications" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/ScreenPublication"
      }
    },
    "StoresResponse" : {
[...]
