{
  "swagger" : "2.0",
  "info" : {
    "description" : "RESTful API for the Denner Portal",
    "version" : "0.1.0",
    "title" : "Denner Portal 2.0",
    "contact" : {
      "name" : "DETAIL NET",
      "email" : "support+denner-api@detailnet.ch"
    }
  },
  "host" : "denner-portal.detailnet.ch",
  "basePath" : "/api",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/article-groups" : {
      "get" : {
        "tags" : [ "Articles and Promotions – Artikel und Aktionen" ],
        "summary" : "List all article groups",
        "description" : "Use this operation to get a list of all article groups (Warengruppen).\n",
        "operationId" : "listArticleGroups",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/ArticleGroupsResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-filters" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "List all online filters",
        "description" : "Use this operation to get a list of all online filters (Angebotsfilter; e.g. \"Aktionen aktuelle Woche\" or \"Aktionen der Folgewoche\").\n",
        "operationId" : "listOnlineFilters",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/OnlineFiltersResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-groups" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "List all online groups",
        "description" : "Use this operation to get a list of all online groups (Internet-Sortimente).\n",
        "operationId" : "listOnlineGroups",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/OnlineGroupsResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-publications" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "List all online publications",
        "description" : "Use this operation to get a list of all publications targeted at online channels, e.g. denner.ch or the Mobile App (Online-Werbemittel).\n",
        "operationId" : "listOnlinePublications",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/OnlinePublicationsResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/online-publications/{publication_id}/articles" : {
      "get" : {
        "tags" : [ "Online Advertising – Online-Bewerbung" ],
        "summary" : "List all (advertised) articles of a single online publication",
        "description" : "Use this operation to get a list of all (advertised) articles of the online publication (beworbene Artikel im Online-Werbemittel).\n",
        "operationId" : "listOnlinePublicationArticles",
        "parameters" : [ {
          "name" : "publication_id",
          "in" : "path",
          "description" : "The unique identifier of an online publication",
          "required" : true,
          "type" : "string",
          "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/OnlinePublicationArticlesResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/store-channels" : {
      "get" : {
        "tags" : [ "Stores – Filialdaten" ],
        "summary" : "List all store channels",
        "description" : "Use this operation to get a list of all store channels (Filialkanäle; e.g. \"Denner\" or \"Denner Satellit\").\n",
        "operationId" : "listStoreChannels",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/StoreChannelsResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/store-services" : {
      "get" : {
        "tags" : [ "Stores – Filialdaten" ],
        "summary" : "List all store services",
        "description" : "Use this operation to get a list of all store services (Filialangebote; e.g. \"Humidor\" or \"Backstation\").\n",
        "operationId" : "listStoreServices",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/StoreServicesResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    },
    "/stores" : {
      "get" : {
        "tags" : [ "Stores – Filialdaten" ],
        "summary" : "List all stores",
        "description" : "Use this operation to get a list of all stores (Filialen).\n",
        "operationId" : "listStores",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/StoresResponse"
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        }, {
          "appId" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "appKey" : {
      "type" : "apiKey",
      "name" : "App-ID",
      "in" : "header"
    },
    "appId" : {
      "type" : "apiKey",
      "name" : "App-Key",
      "in" : "header"
    }
  },
  "definitions" : {
    "UUIDv4" : {
      "type" : "string",
      "description" : "Unique identifier"
    },
    "Locale" : {
      "type" : "string",
      "description" : "Locale"
    },
    "Translations" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Translation"
      }
    },
    "Translation" : {
      "type" : "object",
      "properties" : {
        "locale" : {
          "$ref" : "#/definitions/Locale"
        },
        "value" : {
          "type" : "string",
          "description" : "Translated text value"
        }
      }
    },
    "Country" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Country code definition from ISO 3166",
          "pattern" : "/^[A-Z]{2}$/"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      },
      "description" : "Country"
    },
    "Date" : {
      "type" : "string",
      "format" : "date",
      "description" : "Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)"
    },
    "Time" : {
      "type" : "string",
      "description" : "Time; Format HH:MM:SS"
    },
    "DayOfWeek" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Day of week; 0 = Sunday"
    },
    "Year" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Year"
    },
    "Week" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Week number (ISO 8601, week date system)"
    },
    "Price" : {
      "type" : "number",
      "format" : "float",
      "description" : "Price in CHF"
    },
    "Quantity" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Quantity"
    },
    "ContentSize" : {
      "type" : "number",
      "format" : "float",
      "description" : "Content size"
    },
    "ContentUnit" : {
      "type" : "string",
      "description" : "Content unit"
    },
    "Appearance" : {
      "type" : "object",
      "properties" : {
        "from" : {
          "type" : "string",
          "format" : "date"
        },
        "to" : {
          "type" : "string",
          "format" : "date"
        }
      }
    },
    "Url" : {
      "type" : "string",
      "description" : "Web url address"
    },
    "Phone" : {
      "type" : "string",
      "description" : "Formatted phone number"
    },
    "SortIndex" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Index for sorting"
    },
    "Store" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision store code"
        },
        "name" : {
          "type" : "string",
          "description" : "Name"
        },
        "address" : {
          "type" : "string",
          "description" : "Street"
        },
        "number" : {
          "type" : "string",
          "description" : "Street number"
        },
        "zip_code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Zip code",
          "minimum" : 1000.0,
          "maximum" : 9699.0
        },
        "city" : {
          "type" : "string",
          "description" : "City"
        },
        "canton_code" : {
          "type" : "string",
          "description" : "Canton (state) code"
        },
        "country" : {
          "$ref" : "#/definitions/Country"
        },
        "phone" : {
          "$ref" : "#/definitions/Phone"
        },
        "hotline" : {
          "$ref" : "#/definitions/Phone"
        },
        "payment_types" : {
          "type" : "array",
          "description" : "Payment types",
          "items" : {
            "$ref" : "#/definitions/PaymentType"
          }
        },
        "credit_card" : {
          "type" : "boolean",
          "description" : "Credit card can be used for payments?"
        },
        "opened_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Opened on"
        },
        "closed_on" : {
          "type" : "string",
          "format" : "date",
          "description" : "Closed on"
        },
        "renovation_from" : {
          "type" : "string",
          "format" : "date",
          "description" : "Renovation from"
        },
        "renovation_to" : {
          "type" : "string",
          "format" : "date",
          "description" : "Renovation to"
        },
        "longitude" : {
          "type" : "number",
          "format" : "float",
          "description" : "Geographic longitude"
        },
        "latitude" : {
          "type" : "number",
          "format" : "float",
          "description" : "Geographic latitude"
        },
        "language" : {
          "type" : "string",
          "description" : "Language spoken in the store"
        },
        "email" : {
          "type" : "string",
          "description" : "E-mail address"
        },
        "homepage" : {
          "$ref" : "#/definitions/Url"
        },
        "parking_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Reserved parking places for customers",
          "minimum" : 0.0
        },
        "channel" : {
          "$ref" : "#/definitions/StoreChannel"
        },
        "opening_times" : {
          "type" : "array",
          "description" : "Default opening times",
          "items" : {
            "$ref" : "#/definitions/OpeningTime"
          }
        },
        "special_opening_times" : {
          "type" : "array",
          "description" : "Special opening times",
          "items" : {
            "$ref" : "#/definitions/SpecialOpeningTime"
          }
        },
        "calendar_opening_times" : {
          "type" : "array",
          "description" : "Calendar opening times",
          "items" : {
            "$ref" : "#/definitions/CalendarOpeningTime"
          }
        },
        "services" : {
          "type" : "array",
          "description" : "Services provided by the store",
          "items" : {
            "$ref" : "#/definitions/AssignedStoreService"
          }
        }
      }
    },
    "PaymentType" : {
      "type" : "string",
      "description" : "Payment type"
    },
    "OpeningTime" : {
      "type" : "object",
      "properties" : {
        "weekday" : {
          "$ref" : "#/definitions/DayOfWeek"
        },
        "opens_at" : {
          "$ref" : "#/definitions/Time"
        },
        "closes_at" : {
          "$ref" : "#/definitions/Time"
        }
      }
    },
    "SpecialOpeningTime" : {
      "type" : "object",
      "properties" : {
        "day" : {
          "$ref" : "#/definitions/Date"
        },
        "opens_at" : {
          "$ref" : "#/definitions/Time"
        },
        "closes_at" : {
          "$ref" : "#/definitions/Time"
        },
        "reason" : {
          "$ref" : "#/definitions/Translations"
        },
        "closed" : {
          "type" : "boolean",
          "description" : "Is the store closed on this day?"
        }
      }
    },
    "CalendarOpeningTime" : {
      "type" : "object",
      "properties" : {
        "day" : {
          "$ref" : "#/definitions/Date"
        },
        "opens_at" : {
          "$ref" : "#/definitions/Time"
        },
        "closes_at" : {
          "$ref" : "#/definitions/Time"
        }
      }
    },
    "StoreChannel" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision channel code"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "StoreService" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "AssignedStoreService" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "appearances" : {
          "$ref" : "#/definitions/Appearances"
        }
      }
    },
    "ArticleGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "string",
          "description" : "Navision article group code (e.g. '01', '20', '01-60', '38-998')",
          "pattern" : "/^\\d{2}(-\\d{2,3})?$/"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "children" : {
          "$ref" : "#/definitions/ArticleGroups"
        }
      }
    },
    "AssignedArticleGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "string",
          "description" : "Navision article group code (e.g. '01', '20', '01-60', '38-998')",
          "pattern" : "/^\\d{2}(-\\d{2,3})?$/"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "parent" : {
          "$ref" : "#/definitions/AssignedArticleGroup"
        }
      }
    },
    "AdvertisedArticle" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "number" : {
          "type" : "string",
          "description" : "Navision article code",
          "pattern" : "/^\\d{6}$/"
        },
        "name" : {
          "type" : "string",
          "description" : "Article name"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "description" : {
          "$ref" : "#/definitions/Translations"
        },
        "prices" : {
          "$ref" : "#/definitions/ArticlePrices"
        },
        "price_info" : {
          "$ref" : "#/definitions/Translations"
        },
        "saving" : {
          "$ref" : "#/definitions/Translations"
        },
        "quantity" : {
          "$ref" : "#/definitions/Quantity"
        },
        "content" : {
          "$ref" : "#/definitions/Content"
        },
        "base" : {
          "$ref" : "#/definitions/BaseContent"
        },
        "validity" : {
          "$ref" : "#/definitions/Validity"
        },
        "global_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "featured_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "promoted" : {
          "type" : "boolean",
          "description" : "Is a promoted article?"
        },
        "compared" : {
          "type" : "boolean",
          "description" : "Is a compared article?"
        },
        "online_group" : {
          "$ref" : "#/definitions/AddignedOnlineGroup"
        },
        "article_group" : {
          "$ref" : "#/definitions/AssignedArticleGroup"
        },
        "wine" : {
          "$ref" : "#/definitions/ArticleWine"
        }
      }
    },
    "ArticlePrices" : {
      "type" : "object",
      "properties" : {
        "sales" : {
          "$ref" : "#/definitions/Price"
        },
        "instead" : {
          "$ref" : "#/definitions/Price"
        },
        "base" : {
          "$ref" : "#/definitions/Price"
        },
        "by_quantity" : {
          "$ref" : "#/definitions/QuantityPrices"
        }
      }
    },
    "QuantityPrices" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/QuantityPrice"
      }
    },
    "QuantityPrice" : {
      "type" : "object",
      "properties" : {
        "quantity" : {
          "$ref" : "#/definitions/Quantity"
        },
        "sales" : {
          "$ref" : "#/definitions/Price"
        },
        "instead" : {
          "$ref" : "#/definitions/Price"
        }
      }
    },
    "Content" : {
      "type" : "object",
      "properties" : {
        "size" : {
          "$ref" : "#/definitions/ContentSize"
        },
        "unit" : {
          "$ref" : "#/definitions/ContentUnit"
        }
      }
    },
    "BaseContent" : {
      "type" : "object",
      "properties" : {
        "size" : {
          "$ref" : "#/definitions/ContentSize"
        },
        "unit" : {
          "$ref" : "#/definitions/ContentUnit"
        },
        "text" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "Validity" : {
      "type" : "object",
      "properties" : {
        "from" : {
          "$ref" : "#/definitions/Date"
        },
        "to" : {
          "$ref" : "#/definitions/Date"
        },
        "text" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "ArticleWine" : {
      "type" : "object",
      "properties" : {
        "country" : {
          "$ref" : "#/definitions/Country"
        },
        "region" : {
          "$ref" : "#/definitions/Region"
        },
        "type" : {
          "$ref" : "#/definitions/WineType"
        },
        "year" : {
          "$ref" : "#/definitions/Year"
        },
        "fits_with" : {
          "$ref" : "#/definitions/Translations"
        },
        "varietal" : {
          "$ref" : "#/definitions/Translations"
        },
        "character" : {
          "$ref" : "#/definitions/Translations"
        },
        "temperature" : {
          "$ref" : "#/definitions/Translations"
        },
        "awards" : {
          "$ref" : "#/definitions/Translations"
        },
        "storage" : {
          "$ref" : "#/definitions/Translations"
        },
        "rating" : {
          "$ref" : "#/definitions/Rating"
        },
        "stock" : {
          "$ref" : "#/definitions/Stock"
        },
        "shop_url" : {
          "$ref" : "#/definitions/Url"
        }
      }
    },
    "Region" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "WineType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "Rating" : {
      "type" : "object",
      "properties" : {
        "value" : {
          "type" : "number",
          "format" : "float",
          "description" : "Rating value",
          "minimum" : 0.0,
          "maximum" : 5.0
        },
        "total" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Ratng count",
          "minimum" : 0.0
        },
        "valid" : {
          "type" : "boolean",
          "description" : "Is a valid rating?"
        }
      }
    },
    "Stock" : {
      "type" : "object",
      "properties" : {
        "value" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision stock count, might be negative"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision stock code",
          "minimum" : 0.0
        },
        "message" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "OnlinePublication" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "name" : {
          "type" : "string"
        },
        "year" : {
          "$ref" : "#/definitions/Year"
        },
        "week" : {
          "$ref" : "#/definitions/Week"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "list_title" : {
          "$ref" : "#/definitions/Translations"
        },
        "validity" : {
          "$ref" : "#/definitions/Validity"
        },
        "filters" : {
          "type" : "array",
          "description" : "Online filter with appearances (and no localised title)",
          "items" : {
            "$ref" : "#/definitions/AssignedOnlineFilter"
          }
        },
        "global_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "featured_appearance" : {
          "$ref" : "#/definitions/Appearance"
        },
        "promotion_type" : {
          "$ref" : "#/definitions/PromotionType"
        },
        "sort_index" : {
          "$ref" : "#/definitions/SortIndex"
        },
        "articles" : {
          "$ref" : "#/definitions/AdvertisedArticles"
        }
      }
    },
    "PromotionType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "string",
          "description" : "Navision promotion type code"
        },
        "name" : {
          "type" : "string"
        }
      }
    },
    "OnlineFilter" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "name" : {
          "type" : "string"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "sort_index" : {
          "$ref" : "#/definitions/SortIndex"
        }
      }
    },
    "AssignedOnlineFilter" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "name" : {
          "type" : "string"
        },
        "appearances" : {
          "$ref" : "#/definitions/Appearances"
        }
      }
    },
    "OnlineGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision online group code"
        },
        "sort_index" : {
          "$ref" : "#/definitions/SortIndex"
        },
        "disabled" : {
          "type" : "boolean",
          "description" : "Is disabled?"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "children" : {
          "$ref" : "#/definitions/OnlineGroups"
        }
      }
    },
    "AddignedOnlineGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision online group code"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "parent" : {
          "$ref" : "#/definitions/AddignedOnlineGroup"
        }
      }
    },
    "Appearances" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Appearance"
      }
    },
    "Stores" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Store"
      }
    },
    "StoreChannels" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/StoreChannel"
      }
    },
    "StoreServices" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/StoreService"
      }
    },
    "ArticleGroups" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/ArticleGroup"
      }
    },
    "AdvertisedArticles" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/AdvertisedArticle"
      }
    },
    "OnlinePublications" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/OnlinePublication"
      }
    },
    "OnlineFilters" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/OnlineFilter"
      }
    },
    "OnlineGroups" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/OnlineGroup"
      }
    },
    "StoresResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "stores" : {
          "$ref" : "#/definitions/Stores"
        }
      }
    },
    "StoreChannelsResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "store_channels" : {
          "$ref" : "#/definitions/StoreChannels"
        }
      }
    },
    "StoreServicesResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "store_services" : {
          "$ref" : "#/definitions/StoreServices"
        }
      }
    },
    "ArticleGroupsResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "article_groups" : {
          "$ref" : "#/definitions/ArticleGroups"
        }
      }
    },
    "OnlineFiltersResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "online_filters" : {
          "$ref" : "#/definitions/OnlineFilters"
        }
      }
    },
    "OnlineGroupsResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "online_groups" : {
          "$ref" : "#/definitions/OnlineGroups"
        }
      }
    },
    "OnlinePublicationsResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "online_publications" : {
          "$ref" : "#/definitions/OnlinePublications"
        }
      }
    },
    "OnlinePublicationArticlesResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "articles" : {
          "$ref" : "#/definitions/AdvertisedArticles"
        }
      }
    }
  },
  "parameters" : {
    "PageParam" : {
      "name" : "page",
      "in" : "query",
      "description" : "The page number",
      "required" : false,
      "type" : "integer",
      "format" : "int32"
    },
    "PageSizeParam" : {
      "name" : "page_size",
      "in" : "query",
      "description" : "The page size",
      "required" : false,
      "type" : "integer",
      "format" : "int32"
    },
    "PublicationIdPathParam" : {
      "name" : "publication_id",
      "in" : "path",
      "description" : "The unique identifier of an online publication",
      "required" : true,
      "type" : "string",
      "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/"
    }
  }
}